{% extends 'basic.html' %}
{% load static %}

{% block title %}Profile - Car Rental {% endblock %}
{% block body %}


     <!-- Page Header Start -->
    <div class="container-fluid page-header" style="margin-top:5px;">
        <h1 class="display-3 text-uppercase text-white mb-3">My Profile</h1>
    </div>
    <!-- Page Header Start -->


    <!-- Contact Start -->
    <div class="container-fluid py-5" style="margin-top:-50px;">
        <div class="container pt-5 pb-3">
            <div class="row">
              <div class="col-md-5 column">
                <img src="{% if userdata.photo %}{{ userdata.photo.url }}{% else %}{% static 'img/team-2.jpg' %}{% endif %}" class="img-fluid rounded-circle mx-auto d-block mt-3" style="width: 60%; height: 200px; object-fit: cover;" alt="{{userdata.name|default:'User'}}">
              </div>
              <div class="col-md-7 column align-self mt-md-0 mt-4">
                <h4 class="user_position">{{userdata.usertype}}</h4>
                <div class="team-info my-4">
                    <p>Name : <a style="color:var(--secondary)">{{userdata.name}}</a> </p>
                  <p>Email : <a href="mailto:{{userdata.email_id}}"
                      class="mail" style="color:var(--secondary)">{{userdata.email_id}}</a></p>
                  <p>Phone : <a href="tel:{{userdata.phone_no}}" style="color:var(--secondary)">{{userdata.phone_no}}</a></p>
                  <p>DOB : <a style="color:var(--secondary)">{{userdata.dob}}</a></p>
                  <p>Address : <a style="color:var(--secondary)">{{userdata.address}}</a></p>
                  <p>User Type: Vehicle <a style="color:var(--secondary)">{% if userdata.usertype == 'Lessor' %}Owner{% else %}Renter{% endif %}</a></p>
                  <p>Account verified : <a style="color:var(--secondary)">{% if userdata.is_verified %} Yes {% else %} No {% endif %}</a></p>
                </div>
              </div>
            </div>
            <div class="row mt-5">
              <div class="col-12 text-right">
                <a href="/edituserprofile" class="btn btn-primary p-2 mr-3 mr-lg-2"><span class="text-light font-weight-bold">Edit Profile</span></a>
                <a href="/changepwdpage" class="btn btn-primary p-2 mr-3"><span class="text-light font-weight-bold">Change Password</span></a>
              </div>
            </div>
        </div>
    </div>
    <!-- Contact End -->

{% endblock %}
